img {
	width: 100%;
	align-items: center;
	background-color: #d1f7f9;
	padding-top: 25px;
	padding-bottom: 10px;
	padding-right: 25px;
	padding-left: 25px;
}

p {
	width: 500px;
}
body {
		background-color: #f8f7f5;
		font-family: 'Raleway';
		font-size: 15px;
}
h1 {
	 text-align: left;
	 font-family: 'Roboto Slab';
	 font-size: 40px;
}

h2 {
	 text-align: left;
	 font-family: 'Roboto Slab';
	 font-size: 22px;
	 font-style: italic;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.columntop {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.columnbottom {
  float: left;
  width: 33%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.window {
	text-decoration: white;
  float: right;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
	background-color: #d1f7f9;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: #d1f7f9;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: #d1f7f9;
}

.container {
	background-color: #d1f7f9;
	height: auto;
  padding: 0px 16px;
	position: relative;
}

.bio {
	overflow-wrap: break-word;
	word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
	width: inherit;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: #555;
}
